<!doctype html>
<html>
 <head>
  <title>Figure examples</title>
  <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" type="text/css" />
  <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
  <!-- {{ script|safe }} -->
 </head>
<body>

  <!-- <div class='bokeh'>
   {{ div|safe }}
   {{ div|safe }}
   {{ div|safe }}
  </div> -->
  <div class='bokeh'>
   {{ div|safe }}
   {{ script|safe }}
  </div>

<!--   <div id="content">{% block content %}
<p> Hi there </p>
  	{% endblock %}</div>
    <div id="footer">

  {% block footer %}
        &copy; Copyright 2016 by <a href="http://domain.invalid/">Lesley M Chapman</a>.
        {% endblock %} -->
 </body>


</html>